body {
    background: #333;
    color:#eee;
}

#icon {
    height: 50px;
    width: 50px;
    border: 1px solid #aaa;
}

#map {
    width: calc(100% - 4em);
    min-height: 600px;
    background-color: lightcoral;
    margin: 2em;
}